<div class="modal">
    <div class="card-content">
        <input class="input" value="TODO" />
        <strong>Descrição</strong><br/>
        <input class="input-description" value="Eis aqui uma bela descrição de ToDo." />
        <textarea class="textarea-description">Texto aqui.</textarea>
        <br/>

        <strong>Anexos</strong>
        <br/>

        <p>Acesso: Owner, Contributor, Reader</p>
        <p>Status: Concluído ou não</p>
        <p>Data de expiração</p>
        <p>Data de notificação da expiração</p>
        <p>Lista de anexos</p>
    </div>
</div>