<header>
    <h1>Mousse List</h1>
    <hr />
    <div class="ShortcutsArea">
        <button class="Shotcurt" routerLink="">Listas</button>
        <button id="NotifyButton" class="button is-white">
          <span class="icon">
              <span class="mdi mdi-36px mdi-bell-outline"></span>
          </span>
      </button>
    </div>
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a class="breadItem" href="http://localhost:4200/">Listas</a></li>
          <li><a class="breadItem" href="http://localhost:4200/main">Todos</a></li>
        </ul>
      </nav>
</header>
<router-outlet></router-outlet>